{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "babel-plugin-root-import",
            {
                "rootPathSuffix": "src"
            }
        ],
        [
            "@babel/plugin-transform-runtime"
        ]
    ]
}
